---
import { Image } from "astro:assets";

interface Props {
  src: string | ImageMetadata;
  alt?: string;
  caption?: string;
  url?: string;
  class?: string;
}

const { src, alt = "", caption, url, class: className } = Astro.props;

const figureClass = ["img-shortcode", className].filter(Boolean).join(" ");
---

<figure class={figureClass}>
  <div class="img-shortcode__img-wrapper">
    {
      url ? (
        <a href={url}>
          {typeof src === "string" ? (
            <img class="img-shortcode__img" src={src} alt={alt} />
          ) : (
            <Image class="img-shortcode__img" src={src} alt={alt} />
          )}
        </a>
      ) : typeof src === "string" ? (
        <img class="img-shortcode__img" src={src} alt={alt} />
      ) : (
        <Image class="img-shortcode__img" src={src} alt={alt} />
      )
    }
  </div>
  {
    caption && (
      <figcaption class="img-shortcode__caption">
        <p class="img-shortcode__caption-text" set:html={caption} />
      </figcaption>
    )
  }
</figure>
