---
interface Props {
  src: string;
  alt?: string;
  caption?: string;
  url?: string;
  class?: string;
}

const { src, alt = "", caption, url, class: className } = Astro.props;

const figureClass = ["img-shortcode", "lqip__figure", className]
  .filter(Boolean)
  .join(" ");

const lqipSrc = src.replace(/\.(jpg|png)$/i, "-lqip.jpg");
---

<figure class={figureClass} data-full={src}>
  <div class="img-shortcode__img-wrapper lqip__wrapper">
    {
      url ? (
        <a href={url}>
          <img
            class="img-shortcode__img lqip__img -is-loaded"
            src={src}
            alt={alt}
            data-lqip={lqipSrc}
          />
        </a>
      ) : (
        <img
          class="img-shortcode__img lqip__img -is-loaded"
          src={src}
          alt={alt}
          data-lqip={lqipSrc}
        />
      )
    }
  </div>
  {
    caption && (
      <figcaption class="img-shortcode__caption">
        <p class="img-shortcode__caption-text" set:html={caption} />
      </figcaption>
    )
  }
</figure>
