---
import Header from "../components/Header.astro";
import "../styles/main.scss";

interface Props {
  title?: string;
  description?: string;
  bodyClass?: string;
}

const { title, description, bodyClass = "" } = Astro.props;

const siteTitle = "Glenn McComb: front end developer and designer";
const fullTitle = title ? `${title} - ${siteTitle}` : siteTitle;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {description && <meta name="description" content={description} />}
    <title>{fullTitle}</title>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class={bodyClass}>
    <Header />
    <div class="site">
      <slot />
    </div>
  </body>
</html>
